html {
    background-image: url("./images/mainBackground.jpg");
    background-position: cover;
    background-repeat: no-repeat;
}

#logoContainer {
    margin: 20px auto;
    margin-top: 40px;
    width: 85%;
    max-width: 450px; 
    text-align: center;
}
#logoContainer img {
    margin: 0 auto;
    width: 100%;
}
#container {
    height: 480px;
    width: 75%;
    max-width: 500px;
    background-color: #b5cadb;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0 #10273b;
    -moz-box-shadow: 4px 4px 10px 0 #10273b;
    -webkit-box-shadow: 4px 4px 10px 0 #10273b;
    position: relative;
}

#scoreCounter {
    background-color: #20364d;
    color: white;
    width: 70px;
    padding: 10px;
    float: right;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 2px 0 #53687b;
    -moz-box-shadow: 1px 1px 2px 0 #53687b;
    -webkit-box-shadow: 1px 1px 2px 0 #53687b;
    font-family: sans-serif;
}

#correct {
    background-color: green;
    text-align: center;
    color: white;
    width: 60px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 28px;
    display: none;
}

#wrong {
    background-color: red;
    text-align: center;
    color: white;
    width: 70px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 30px;
    display: none;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 2em;
    min-width: 300px;
    width: 90%;
    min-height: 30%;
    background-color: #152636;
    margin: 30px auto 10px;
    position: relative;
    top: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0 #53687b;
    -moz-box-shadow: 2px 2px 2px 0 #53687b;
    -webkit-box-shadow: 2px 2px 2px 0 #53687b;
    font-family: cursive, sans-serif;
}

#instruction {
    width: 90%;
    color: #284056;
    background-color: #9badbd;
    border-radius: 10px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    top: 25px;
    text-align: center;
    line-height: 25px;
    font-family: sans-serif;
}

#choices {
    width: 90%;
    min-height: 25%;
    background-color: #233644;
    margin: 0 auto;
    position: relative;
    top: 35px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0 #53687b;
    -moz-box-shadow: 2px 2px 2px 0 #53687b;
    -webkit-box-shadow: 2px 2px 2px 0 #53687b;
}

.choice {
    width: 24%;
    min-height: 90%;
    background-color: #e2ebf4;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family: sans-serif;
    cursor: pointer;
}

.choice:hover {
    background-color: #476680;
    color: white;
}

.choice:active {
    position: relative;
    top: 2px;
}

#startReset {
    width: 28%;
    background-color: #0f3963;
    margin: 5px auto;
    position: relative;
    top: 45px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
    cursor: pointer;
    color: white;
    box-shadow: 2px 2px 4px 0 #10273b;
    -moz-box-shadow: 2px 2px 4px 0 #10273b;
    -webkit-box-shadow: 2px 2px 4px 0 #10273b;
}

#startReset:hover {
    color: #0f3963;
    background-color: white;
    font-weight: bold;
    box-shadow: 2px 2px 2px 0 #53687b;
    -moz-box-shadow: 2px 2px 2px 0 #53687b;
    -webkit-box-shadow: 2px 2px 2px 0 #53687b;
}

#startReset:active {
    top: 47px;
}

#timer {
    width: 200px;
    padding: 5px;
    background-color: white;
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 55px;
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: 2px 2px 2px 0 #53687b;
    -moz-box-shadow: 2px 2px 2px 0 #53687b;
    -webkit-box-shadow: 2px 2px 2px 0 #53687b;
    display: none;
}

#gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b1f1f;
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    bottom: 420px;
    margin: 0 auto;
    height: 170px;
    width: 100%;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    box-shadow: 2px 2px 2px 0 #540505;
    -moz-box-shadow: 2px 2px 2px 0 #540505;
    -webkit-box-shadow: 2px 2px 2px 0 #540505;
}
#gameOver p {
    padding: 0;
    margin: 0;
}
@media only screen and (max-width: 553px) {
    #choices {
        flex-direction: column;
        justify-content: center;
    }
    .choice {
        width: 95%;
        margin: 5px auto;
    }
    #container {
        height: 515px;
    }
}