html {
    background-image: url("./images/mainBackground.jpg");
    background-position: cover;
    background-repeat: no-repeat;
}

#logoContainer {
    margin: 30px auto;
    margin-top: 60px;
    width: 85%;
    max-width: 500px; 
    text-align: center;
}
#logoContainer img {
    margin: 0 auto;
    width: 100%;
}
#container {
    height: 450px;
    width: 75%;
    max-width: 500px;
    background-color: #b5cadb;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0 #10273b;
    position: relative;
}

#scoreCounter {
    background-color: #20364d;
    color: white;
    width: 70px;
    padding: 10px;
    float: right;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 2px 0 #53687b;
}

#correct {
    background-color: green;
    text-align: center;
    color: white;
    width: 60px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 28px;
    display: none;
}

#wrong {
    background-color: red;
    text-align: center;
    color: white;
    width: 70px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 30px;
    display: none;
}